NODE_ENV=development
PORT=4000
CORS_ORIGIN=*
ROUND_DURATION_SEC=80
CHOOSE_DURATION_SEC=15
HINT_INTERVAL_SEC=15
ROUNDS_PER_PLAYER=3
MAX_PLAYERS=8
WORD_OPTIONS_COUNT=3
MAX_HINTS=3
DISCONNECT_GRACE_MS=60000
